{% load static %}
<html>
<head>
<title> CMS </title>
<style>
	* {font-size: 30px; }
	body {background: rgb(6,2,84);
	background: linear-gradient(153deg, rgba(6,2,84,1) 7%, rgba(6,199,175,1) 43%, rgba(15,221,237,1) 94%); }
	.nav {background-color:#c3fbf4; height:40px;padding-right:2%;text-align:right;}
	.nav a {color:navyblue;text-decoration:none;margin:2%;}
	img {width:750px; height:630px; margin-top:1%;}
        .nav p{float:left;padding:0px 6px;}
	
</style>
</head>
<body>
<center>
	<div class="nav">
                
		<a href="{% url 'ulogin' %}"> Student Login </a>
		<a href="{% url 'tlogin' %}"> Teacher Login </a>
		
	</div>
</center>

<img src="{% static 'main.png' %}">
</body>
</html>
