<html>
<head>
<title> CMS </title>
<style>
	* {font-size: 30px; }
body {background: rgb(6,2,84);
	background: linear-gradient(153deg, rgba(6,2,84,1) 7%, rgba(6,199,175,1) 43%, rgba(15,221,237,1) 94%); }	

	.nav {background-color:#c3fbf4; height:40px;}
	.nav a {color:navyblue;text-decoration:none;margin:2%;}
</style>
</head>
<body>
<center>
	<div class="nav">
		<a href="{% url 'thome' %}"> Admin </a>
		<a href="{% url 'add' %}"> Add Assignment</a>
		<a href="{% url 'view' %}"> View Submissions </a>
	</div>
	<br>
	<h1> SUBMISSIONS </h1>
	<table border="3" style="width:50%;">
		<tr> 
			<th> Name </th>
			<th> PRN </th>
			<th> SUBJECT </th>
			<th> SUBMITTED </th>
			<th> DELETE </th>
		</tr>

	{% for d in data %}
		<tr style="text-align:center;">
			<td> {{ d.name }} </td>
			<td> {{ d.prn }} </td>
			<td> {{ d.subject }} </td>
			<td> <a href = {{ d.Submission.url }}> View </a> </td>
		<td> <a href="{% url 'remove' id=d.prn %}"
		onclick="return confirm('r u sure???')">Delete </a></td>

		</tr>
	{% endfor %}
	</table>


</center>
</body>
</html>	